@import '../src/stylesheets/cards';
@import '../src/stylesheets/scaffolds';
@import 'bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';


footer {
	margin-top: 100px; 
}
table, td, th { 
	vertical-align: middle; border: none; 
}
th { 
	border-bottom: 1px solid #DDD; 
}
body { 
	margin: 0; 
}